{{#if items}}
<div class="container-fluid">
	<div class="row">
		<form class="form-inline" role="form">
			<div class="form-group">
				<div class="input-group col-md-6">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-search"></i>
					</span>
					<input type="text" class="form-control" placeholder="Search">
					<span class="input-group-btn">
						<button class="btn btn-default" id="search" type="submit">Search</button>
					</span>
				</div>
			</div>
		</form><br>
	</div>
	<div class="row">
		<table class="table table-bordered table-responsive table-condensed table-hover table-striped">
			<thead>
				<tr>
					<th>Job #</th>
					<th>Account</th>
					<th>Reference</th>
					<th>To Serve On</th>
					<th>Court Date</th>
					<th>Completed</th>
					<th>Type of Service</th>
					<th>Date Received</th>
				</tr>
			</thead>
			<tbody>
			{{#each items}}
				<tr>
					<td><a href="#client/{{jobnumber}}">{{jobnumber}}</a></td>
					<td>{{account}}</td>
					<td></td>
					<td>{{served_person}}</td>
					<td>{{date_court}}</td>
					<td>{{date_served}}</td>
					<td>{{served_documents}}</td>
					<td>{{date_received}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div>
{{else}}
<div class="container-fluid">
    <div class="row text-center">
		<div class="well well-lg">
			<span class="glyphicon glyphicon-ban-circle glyphicon-big-alert"></span>
			<p class="text-danger">You do not have the required access right now.</p>
		</div>
	</div>
</div>
{{/if}}
