<div class="container-fluid">
    <div class="row">
		<div id="tools" class="col-md-2">
			<ul class="nav nav-stacked nav-pills">
				<li><a href="#" id="viewDetails"		class="openModal" data-modal="details">Serve Details</a></li>
				<li><a href="#" id="addComment"			class="openModal" data-modal="comment">Add Comment</a></li>
				<li><a href="#" id="serviceForm"		class="openModal" data-modal="service">Add Service</a></li>
				<li><a href="#" id="uploaderForm"		class="openModal" data-modal="uploader">Upload Document</a></li>
				<li><a href="#" id="emailForm"			class="openModal" data-modal="email">E-mail Client</a></li>
				<li><a href="#" id="returnOfService"	class="openModal" data-modal="returnOfService">Return Of Service</a></li>
			</ul>
		</div>
        <div class="col-md-10">
			<div class="table-responsive">
				<h3 style="margin-top: 0px;">Job Details</h3>
				<table class="table table-bordered table-condensed table-hover table-striped">
					<tbody>
					{{#each job}}
						<tr>
							<th>{{#parse @key}}{{/parse}}</th>
							<td>
								<div class="col-md-10 col-xs-10 noOverflow">{{#if this.value}} {{this.value}} {{else}} N/A {{/if}}</div>
								<form class="form-inline col-md-10 col-xs-10 hide formEdit" role="form">
									<div class="form-group col-md-10 col-xs-10">
										<div class="input-group col-md-12 col-xs-12">
											<label class="sr-only" for="{{@key}}">{{#parse @key}}{{/parse}}</label>
											<input class="form-control" type="text" name="{{@key}}" id="{{@key}}" value="{{this.value}}">
										</div>
									</div>
									<button type="submit" class="btn btn-default">
										<span class="glyphicon glyphicon-floppy-disk"></span>
									</button>
									<button type="button" class="btn btn-default edit">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</form>
								{{#if this.editable}}
									<a href="#" class="edit col-md-2 col-xs-2 text-right"><span class="glyphicon glyphicon-pencil" style="color: goldenrod;"></span></a>
								{{/if}}
							</td>
						</tr>
					{{/each}}
					</tbody>
				</table>
			</div>
			<div class="table-responsive">
				{{#if attachments}}
					<h3>Attachments</h3>
					<table class="table table-bordered table-condensed table-hover table-striped">
						<thead>
							<tr>
								<th>Type</th>
								<th>Name</th>
							</tr>
						</thead>
						<tbody>
						{{#each attachments}}
							<tr>
								<td>{{#parseAttachmentType type}}{{/parseAttachmentType}}</td>
								<td><a href="/tagproc/{{url}}" target="_blank">{{name}}</a></td>
							</tr>
						{{/each}}
						</tbody>
					</table>
				{{/if}}
			</div>
        </div>
    </div>
</div>
<div id="modalWrapper"></div>
