<ul class="nav nav-pills nav-stacked">
	{{#each locations}}
		{{#if needsAdmin}}
			{{#if ../../admin}}
				<li {{#if active }} class="active" {{/if}}>
					<a 
					{{#if attributes}}
						{{#each attributes}}
							{{@key}}="{{this}}"
						{{/each}}
					{{/if}}
					href="{{href}}"> {{name}} </a>
				</li>
			{{/if}}
		{{else}}
			<li {{#if active }} class="active" {{/if}}>
				<a 
				{{#if attributes}}
					{{#each attributes}}
						{{@key}}="{{this}}"
					{{/each}}
				{{/if}}
				href="{{href}}"> {{name}} </a>
			</li>
		{{/if}}
	{{/each}}
</ul>
<div id="sidebarWrapper"></div>
